#text{
	background-color:gray;
	color: red;
	float:right;
	width:25px;
	text-align:right;
}
#video-container {
	background-color:black;
	position:absolute;
	top:0;
	bottom:0;
	height:100%;
	width:100%;
	z-index:1;
	overflow:hidden;
}
#video-container video{
	width:100%;
	height:100%;
	object-fit:contain;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	z-index:2;
}
video::-webkit-media-controls {
      display:none !important;
}
body {
	margin:0;
	padding:0;
	background-color: black;
}
#video-controls {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0px;
	width:100%;
	max-height:10%;
	margin-bottom:10px;
	opacity: 0;
	transition: opacity .3s;
	background-color:transparent;
	z-index:21474836487;
}
 #video-controls:hover{
	opacity: .9;
}
.parent:hover #volume-bar{
	visibility:visible;
	width:10%;
}
button {
	background: transparent;
	border: 0;
	color: #EEE;
	margin-left:1%;
	color: white;
	font-size:30px;
	width: auto;
}
button:hover {
	cursor: pointer;
}
#seek-bar {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 5px;
	height: 10px;
	width: 98%;
	margin-left:1%;
	background-color: rgb(74, 123, 197);
}
#seek-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #00E0FF;
    cursor: pointer;
}
#volume-bar {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0px;
	height: 10px;
	width: 0px;
	-webkit-transition:width .3s;
	transition: width .3s;
	background-color: rgb(74, 123, 197);
	visibility:hidden;
}
#volume-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #00E0FF;
    cursor: pointer;
}
#time{
	color:white;
}
#full-screen{
	float:right;
	padding-right:1%;
}
